<h1>Login below</h1>

<%= render 'errors' %>

<%= form_with url: "/login", local: true do |f| %>
    <div class="field-space">
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
    </div>
    <div class="field-space">
        <%= f.label :password %>
        <%= f.password_field :password, required: true %>
    </div>

    <%= f.submit "Log In", class: "button" %>
<% end %>