<h1 class="center">9 Most Expensive Tiers</h1>
<h3 class="center">If You're feeling Spendy, here's where to go!</h3>

<div class="display-box">
    <% @tiers.each do |tier| %>
        <div class="creator-box">
            <div class="title-heading"><%= tier.title %></div>
            <div><%= link_to tier.creator.name, creator_path(tier.creator), class: "small-button" %></div>
            <strong class="field-space">$<%= tier.amount %> per month</strong>
            <div class="field-space"><%= tier.description %></div>
            <div class="bottom"><%= tier_button(tier) %></div>
        </div>
    <% end %>
    </div>