
<h3 class="center">Would you like to confirm this subscribing at this Tier?</h3>

<div class="creator-box center">
    <div class="center">
        <div class="title-heading"><%= link_to @pledge.creator.name, creator_path(@pledge.creator) %></div>
        <div class="field-space"><%= @tier.title %></div>
        <strong>$<%= @tier.amount %> per month</strong>
        <div class="field-space"><%= @tier.description %></div>
    </div>
    <%= form_with model: @pledge, class: "bottom" do |f| %>
        <%= f.hidden_field :user_id, value: @pledge.user_id %>
        <%= f.hidden_field :creator_id, value: @pledge.creator_id %>
        <%= f.hidden_field :amount, value: @tier.amount.to_d %>
        <%= f.submit "Yes, Subscribe", class: "button center" %>
    <% end %>
</div>