<% if @user.errors.any? %>
    <ul>
        <% @user.errors.messages.each do |msg| %>
            <li><%= display_errors(msg) %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @user, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", required: true %><br>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", required: true %><br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %><br>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, required: true %><br>

    <%= f.submit %>
<% end %>