<div class="signup-header">
    <h1 class="title-header">New User Signup</h1>
    <%= link_to "Creator Signup Here", new_creator_path, class: "button" %>
</div>

<%= render 'errors' %>

<%= form_with model: @user, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", required: true, class: "field-space" %><br>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", required: true, class: "field-space" %><br>
    <%= f.label :privacy, "Would you like your support to be private?" %>
    <%= f.check_box :privacy %><br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true, class: "field-space" %><br>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, required: true, class: "field-space" %><br>

    <%= f.submit class: "button" %>
<% end %>

<%= button_to 'Signup with Google', '/auth/google_oauth2', class: "button" %><br>