<div class="center">
    <h2>Hi, <%= @user.name %></h2>
    <%= @user.email %><br>
    <h3><%= link_to "Edit Account", edit_user_path(@user) %> || 
    <%= link_to "Delete Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></h3>
</div>

<div class="center">
    <h1>Currently Supporting</h1>
</div>

<div class="display-box">
    <% @user.pledges.each do |pledge| %>
        <div class="creator-box">
            <%= link_to pledge.creator.name, creator_path(pledge.creator), class: "button" %>
            <div class="field-space">$<%= pledge.amount.to_i %> per month</div>
            <p class="field-space"><%= pledge.to_tier.description %></p>
            <%= link_to "Delete", pledge_path(pledge), data: { confirm: "Are you sure?" }, method: :delete, class: "norm-link bottom" %>
        </div>
    <% end %>
</div>