<h2>Hi <%= @user.name %></h2>
<%= @user.email %><br>

<h3><%= link_to "Edit User", edit_user_path(@user) %> || 
<%= link_to "Delete User", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></h3>

<h4>Currently Supporting</h4>
<% @user.pledges.each do |pledge| %>
    <%= link_to pledge.creator.name, creator_path(pledge.creator) %><br>
    $<%= pledge.amount %> ||
    <%= link_to "Delete", user_pledge_path(@user, pledge), data: { confirm: "Are you sure?" }, method: :delete %><br>
    <%= pledge.to_tier.description %>
<% end %>