<h1 class="center">Edit a Creator</h1>

<%= render 'errors' %>

<%= form_with model: @creator, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", required: true, class: "field-space" %><br>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", required: true, class: "field-space" %><br>
    <%= f.label :state %>
    <%= f.collection_select :state, all_states, :second, :second, class: "field-space" %><br>
    <%= f.label :profile_pic, "Profile Picture URL" %>
    <%= f.text_field :profile_pic, class: "field-space" %><br>
    <%= f.label :about, class: "desc-label" %>
    <%= f.text_area :about, required: true, rows: 10, cols: 40, class: "field-space" %>

    <%= f.submit class: "button" %>
<% end %>