
<div class="signup-header">
    <h1 class="title-header">New Creator Signup</h1>
    <%= link_to "User Signup Here", new_user_path, class: "button" %>
</div>

<%= render 'errors' %>

<%= form_with model: @creator, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", required: true, class: "field-space" %><br>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", required: true, class: "field-space" %><br>
    <%= f.label :state %>
    <%= f.collection_select :state, all_states, :second, :second, class: "field-space" %><br>
    <%= f.label :about, class: "desc-label" %>
    <%= f.text_area :about, required: true, rows: 10, cols: 40, class: "field-space" %><br>
    <%= f.label :profile_pic, "Profile Picture URL" %>
    <%= f.text_field :profile_pic, class: "field-space" %><br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true, class: "field-space" %><br>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, required: true, class: "field-space" %><br>

<%= f.submit class: "button" %>
<% end %>

<%#= button_to 'Signup with Google', '/auth/google_oauth2', class: "button" %>