<div>
    <div class="center">
        <h3><%= @creator.name %></h3>
        <p><%= @creator.about %></p>
    </div>
    <div class="center">
    <% if current_user == @creator %>
            <div class="field-space">
                <%= link_to "Edit Profile", edit_creator_path(@creator), class: "norm-link" %> || 
                <%= link_to "Delete Profile", creator_path(@creator), data: { :confirm => 'Are you sure?' }, method: :delete, class: "norm-link" %><br><br>
            </div>
            <span class="non-button field-space center">New Post</span>
            <%= link_to "New Tier", new_creator_tier_path(@creator), class: "button center" %>
        </div>
        <div class="center">
            <h1>Your Current Membership Levels</h1>
    <% else %>
            <h1>Select a Membership Level</h1>
    <% end %>
    </div>
    <div class="display-box">
    <% @creator.tiers.order(:amount).each do |tier| %>
        <div class="creator-box">
            <div class="title-heading"><%= tier.title %></div>
            $<%= tier.amount %> per month<br>
            <div class="field-space"><%= tier.description %></div>
            <div class="bottom">
            <% if !logged_in? %>
                <%= link_to "Join", '/login', class: "button" %>
            <% elsif current_user.class == Creator %>
                <% if @creator == current_user %>
                    <%= link_to "Edit Tier", edit_creator_tier_path(@creator, tier), class: "button" %> 
                    <%= link_to "Delete Tier", tier_path(tier), data: { :confirm => 'Are you sure?' }, method: :delete, class: "button field-space" %>
                <% end %>
            <% elsif current_user.creators.include?(@creator) %>
                <% if current_user.pledge_amount(@creator) < tier.amount %>
                    <%= link_to "Join", new_creator_pledge_path(tier.creator, amount: tier.amount), class: "button" %>
                <% else %>
                    <div class="non-button"><%= "Subscribed"%></div>
                <% end %>
            <% else %>
                <%= link_to "Join", new_creator_pledge_path(tier.creator, amount: tier.amount), class: "button" %>
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
    <div class="center">
        <h1 class="center"><%= @creator.pledges.count %> Patrons</h1>
    </div>
    <ul class="pledge-box">
        <% if @creator.pledges.any? %>
            <% @creator.pledges.each do |pledge| %>
                <li class="pledge">
                    <div class="pledge-amount">$<%= pledge.amount.to_i %></div>
                    <%= (pledge.user.privacy ? " Anonymous" : pledge.user.name) %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>
