<div>
    <div class="center slim">
        <div class="image-cropper">
            <%= creator_pic(@creator) %>
        </div>
        <h3><%= @creator.name %></h3>
        <p width="50%"><%= @creator.about %></p>
    </div>
    <div class="center">
    <% if current_user == @creator %>
        <div class="field-space">
            <%= link_to "Edit Profile", edit_creator_path(@creator), class: "norm-link" %> || 
            <%= link_to "Delete Profile", creator_path(@creator), data: { :confirm => 'Are you sure?' }, method: :delete, class: "norm-link" %><br><br>
        </div>
        <span class="non-button field-space center">New Post</span>
        <%= link_to "New Tier", new_creator_tier_path(@creator), class: "button center" %>
        </div>
        <div class="center">
            <h1>Your Current Membership Levels</h1>
    <% else %>
        <h1>Select a Membership Level</h1>
    <% end %>
    </div>

    <div class="display-box">
    <% @tiers.each do |tier| %>
        <div class="creator-box">
            <div class="title-heading"><%= tier.title %></div>
            <strong>$<%= tier.amount %> per month</strong>
            <div class="field-space"><%= tier.description %></div>
            <div class="bottom">
                <%= tier_button(tier) %>
            </div>
        </div>
    <% end %>
    </div>

    <div class="center">
        <h1 class="center"><%= @pledges.count %> Patrons</h1>
    </div>
    <ul class="pledge-box">
        <% if @pledges.any? %>
            <% @pledges.each do |pledge| %>
                <li class="pledge">
                    <div class="pledge-amount">$<%= pledge.amount.to_i %></div>
                    <%= (pledge.user.privacy ? " Anonymous" : pledge.user.name) %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>
