<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "Home", root_path %><br><br>
      <% if logged_in? %>
        Logged in as <%= current_user.name %><br>
        <%= link_to "Log Out", "/logout" %>
      <% else %>
        <%= link_to "Log in", "/login" %><br>
        <%= link_to "Register", new_user_path %>
      <% end %>
    </div><br>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
