<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>
      <%= link_to "Faketreon", root_path, class: "home-link" %>
      <% if logged_in? %>
        <div class="session-buttons">Logged in as 
        <%= link_to current_user.name, correct_user_path(current_user), class: "norm-link" %> || 
        <%= link_to "Log Out", "/logout", class: "norm-link" %></div>
      <% else %>
        <div class="session-buttons" ><%= link_to "Log in", "/login", class: "norm-link" %> || 
        <%= link_to "Register", new_user_path, class: "norm-link" %></div>
      <% end %>
    </header>

    <div id="main">

    <%= yield %><br>
    <footer class="branding">
      <small>&copy; Tyler Miller // 2020 <strong></small>
    </footer>
    </div>
  </div>
  </body>
</html>
